main-color = #e0a800
back-color = #bab3d6
second-back-color = #6d609e

*
    margin 0
    padding 0
    font normal normal 14px/24px Nes
    color main-color
    text-transform uppercase

#app
    display flex
    flex-direction column
    width 100%
    height 100vh
    overflow hidden
    background back-color

    .invisible
        opacity 0

    button
        background main-color
        border 3px solid white
        padding 6px 12px
        color second-back-color
        outline none
        cursor pointer
        font-weight bold

        &:active
            background lighten(main-color, 20)

    ul
        list-style none

    header
        width 100%
        padding 0 24px
        box-sizing border-box
        height 84px
        background second-back-color
        display flex
        align-items center
        justify-content space-between

        .user-info
            display flex
            align-items center

            .user-name
                font-size 24px
                margin-right 12px

        .logo
            transform scale(.7)

    section
        height 100%
        display flex
        align-items center
        justify-content center

        h1
            font-size 27px
            line-height 32px
            color darken(main-color, 50)
            text-align center
            margin-bottom 12px

            .game-name
                font-size 36px
                line-height 40px
                display inline-block
                background second-back-color
                padding 10px
                margin-bottom 12px

        .user-list
            text-align center
            li
                display inline-block
                background second-back-color
                padding 12px 24px
                margin-bottom 6px
                font-size 20px
                width 60%
                box-sizing border-box

        .run-game
            height 100%
            width 100%
            display flex
            flex-direction column
            align-items center

            .get-ready-block
                display flex
                height 100%
                align-items center

                .ready-message
                    font-size 34px
                    background second-back-color
                    color back-color
                    display inline-block
                    padding 15px
                    border 3px solid main-color

            .task-container
                height 100%
                width 100%

            .task-word
                height 50%
                display flex
                align-items center
                justify-content center

            .task
                height 80px
                display flex
                align-items center

                li
                    item-size = 49px
                    display inline-flex
                    font-size 30px
                    width item-size
                    height item-size
                    justify-content center
                    align-items center
                    border 2px solid white
                    margin-left 6px
                    background second-back-color

                    &.letter-done
                        background main-color
                        color second-back-color

                    &.has-error
                        color tomato

            .users-results
                display flex
                height 50%
                width 100%
                align-items center
                background second-back-color

                ul
                    background second-back-color
                    box-sizing border-box
                    padding 12px
                    width 100%

    .game-results
        background second-back-color
        padding 24px

        li
            for i in (0..3)
                &:nth-child({i})
                    font-size 24px - (i * 2)

    .useless-keys
        text-align center
        padding 20px
        position relative
        overflow hidden
        transform rotate(-5deg)
        z-index 0

        &:after
            content ''
            display block
            border 12px solid tomato
            position absolute
            bottom -60px
            left 0
            right -200%
            top 30%
            border-radius 50%

        .useless
            display inline-block
            color black
            background lighten(back-color, 10)
            font-size 32px
            padding 20px 40px
            border 2px solid tomato

    .start-game
        & > *
            position relative
