@()(implicit request: Request[AnyContent])

@main("Keyboarg Strike") {
    <div id="app">
        <header>
            <div v-bind:class="{'is-admin': isAdmin}" class="user-info">
                <span class="user-name">{{ playerName }}</span>
                <span v-if="isAdmin">
                    <button v-on:click="resetGame()" v-if="!gameOnStart()" v-bind:class="getResetButtonCssClass()">reset</button>
                    <button v-on:click="onRun()" v-if="gameOnStart()">run</button>
                </span>
            </div>
            <img src="@routes.Assets.versioned("dell-emc-white.svg")" class="logo">
        </header>

        <section>
            <start-game v-if="gameOnStart()"
                        v-bind:players="players"></start-game>

            <run-game v-if="gameIsRunning()"
                      v-bind:step="step"
                      v-bind:results="usersResult"
                      v-bind:on-success-try="onSuccessTry"></run-game>

            <game-results v-if="gameIsFinished()" v-bind:results="finishResults"></game-results>
        </section>
    </div>
    <script>
        var appConf = {
            socketUrl: "@routes.StrikeController.ws.webSocketURL",
        }
    </script>
    <script src="@routes.Assets.versioned("dist/js/components.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("dist/js/app.js")" type="text/javascript"></script>
}